<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT">[[#{layout.title}]]</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='home'} ? active" th:href="@{/}"><button
							type="button" class="btn btn-secondary">[[#{layout.accueil}]]</button></a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" th:href="@{/?lang=fr}"
					data-toggle="dropdown"><button
							class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">[[#{layout.client}]]</button></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/clientpart}">Particulier</a>
						<a class="dropdown-item" th:href="@{/clientpro}">Professionnel</a>
					</div></li>
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='gestionnaire'} ? active"
					th:href="@{/gestionnaire/list}"><button type="button"
							class="btn btn-secondary">[[#{layout.gestionnaire}]]</button></a></li>
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='reservation'} ? active"
					th:href="@{/reservation/list}"><button type="button"
							class="btn btn-secondary">[[#{layout.reservation}]]</button></a></li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href=".?lang=en"><img
						src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
						style="width: 24px; height: 16px" /></a></li>
				<li class="nav-item"><a class="nav-link" href=".?lang=fr"><img
						src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
						style="width: 24px; height: 16px" /></a></li>
			</ul>
		</nav>
	</header>

	<section layout:fragment="custom-content"></section>
</body>
</html>