<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientpart'">
<head>
<title>[[#{client.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="clientEdit" class="card mt-5">
			<form th:action="@{/clientpart/save}" method="post">
				<input type="hidden" name="version" th:value="${monClient.version}" />
				<div class="card-header">
					<h5>[[#{client.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{client.form.identifiant}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${monClient.id}" readonly> <span
							class="text-danger" th:errors="${monClient.id}"></span>
					</div>
					<div class="form-group">
						<label for="civilite">[[#{client.form.civilite}]]:</label><select
							class="form-control" id="civilite" name="civilite" th:value="${monClient.civilite}">
							<option th:value="${null}">---------</option>
							<option th:each="civ : ${civilites}" th:value="${civ}"
								th:selected="${civ==monClient.civilite}">[[#{${civ.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monClient.civilite}"></span>
					</div>
					<div class="form-group">
						<label for="nom">[[#{client.form.nom}]]:</label> <input type="text"
							class="form-control" id="nom" name="nom"
							th:value="${monClient.nom}"> <span class="text-danger"
							th:errors="${monClient.nom}"></span>
					</div>
					<div class="form-group">
						<label for="prenom">[[#{client.form.prenom}]]:</label> <input type="text"
							class="form-control" id="prenom" name="prenom"
							th:value="${monClient.prenom}"> <span class="text-danger"
							th:errors="${monClient.prenom}"></span>
					</div>
					<div class="form-group">
						<label for="moyenPaiement">[[#{client.form.moyenPaiement}]]:</label><select
							class="form-control" id="moyenPaiement" name="moyenPaiement" th:value="${monClient.moyenPaiement}">
							<option th:value="${null}">---------</option>
							<option th:each="paie : ${moyenPaiements}" th:value="${paie}"
								th:selected="${paie==monClient.moyenPaiement}">[[#{${paie.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monClient.moyenPaiement}"></span>
					</div>
					<div class="form-group">
						<label for="telephone">[[#{client.form.telephone}]]:</label> <input type="number"
							class="form-control" id="age" name="telephone"
							th:value="${monClient.telephone}" min="0"> <span
							class="text-danger" th:errors="${monClient.telephone}"></span>
					</div>
					<div class="form-group">
						<label for="email">[[#{client.form.email}]]:</label> <input type="text"
							class="form-control" id="email" name="mail"
							th:value="${monClient.mail}"> <span
							class="text-danger" th:errors="${monClient.mail}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/clientpart/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>