<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientpart'">
<head>
<title>[[#{client.list.page}]]</title>
</head>
<body>

	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{client.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="clientTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{client.list.civilite}]]</th>
							<th>[[#{client.list.nom}]]</th>
							<th>[[#{client.list.prenom}]]</th>
							<th>[[#{client.list.moyenPaiement}]]</th>
							<th>[[#{client.list.telephone}]]</th>
							<th>[[#{client.list.email}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client : ${mesClients}">
							<td th:text="${client.id}"></td>
							<td>[[${client.civilite?.label}]]</td>
							<td>[[${client.nom}]]</td>
							<td>[[${client.prenom}]]</td>
							<td>[[${client.moyenPaiement}]]</td>
							<td>[[${client.email}]]</td>
							<td>[[${client.telephone}]]</td>
							<td><a th:href="@{/clientpart/edit(id=${client.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/clientpart/delete/{id}(id=${client.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/clientpart/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>

</body>
</html>