<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='client'">
<head>
<title>[[#{reservation.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="reservationEdit" class="card mt-5">
			<form th:action="@{/reservation/save}" method="post">
				<input type="hidden" name="version"
					th:value="${maReservation.version}" />
				<div class="card-header">
					<h5>[[#{reservation.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{reservation.form.id}]]</label> <input
							type="number" class="form-control" id="id" name="id" required
							th:value="${maReservation.id}" readonly> <span
							class="text-danger" th:errors="${maReservation.id}"></span>
					</div>
					<div class="form-group">
						<label for="numero">[[#{reservation.form.num}]]:</label> <input
							type="text" class="form-control" id="numero" name="numero"
							required th:value="${maReservation.numero}" /> <span
							class="text-danger" th:errors="${maReservation.numero}"></span>
					</div>
					<div class="label">[[#{reservation.form.statut}]]</div>
					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input"
							id="defaultGroupExample1" name="groupOfDefaultRadios" th:value="${maReservation.statut}" value="true"> <label
							class="custom-control-label" for="defaultGroupExample1">A l'heure</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input"
							id="defaultGroupExample2" name="groupOfDefaultRadios" th:value="${maReservation.statut}" value="false">
						<label class="custom-control-label" for="defaultGroupExample2">Annulé</label>
					</div>
					<!-- 					<div class="form-check">
						<label class="form-check-label" for="status">[[#{reservation.form.statut}]]:
						</label> <input class="form-check-input" type="radio" name="status"
							id="status" th:checked="${myBooleanVariable}" />A l'heure <input
							class="form-check-input" type="radio" name="status" id="status"
							th:checked="${myBooleanVariable}" />en retard
					</div> -->

					<div class="form-group">
						<label for="tarif">[[#{reservation.form.tarif}]]:</label> <input
							type="number" step="0000.01" class="form-control" id="tarif"
							name="tarif" th:value="${maReservation.tarif}" /> <span
							class="text-danger" th:errors="${maReservation.tarif}"></span>
					</div>
					<div class="form-group">
						<label for="tauxTVA">[[#{reservation.form.tva}]]:</label> <input
							type="number" step="0000.01" class="form-control" id="tauxTVA"
							name="tauxTVA" th:value="${maReservation.tauxTVA}" /> <span
							class="text-danger" th:errors="${maReservation.tauxTVA}"></span>
					</div>
					<div class="form-group">
						<label for="dateReservation">[[#{reservation.form.dtReservation}]]:</label>
						<input type="date" class="form-control" id="dateReservation"
							name="dateReservation"
							th:value="${maReservation.dateReservation}" min="0" /> <span
							class="text-danger" th:errors="${maReservation.dateReservation}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"
								th:href="@{/reservation/save}"></i>
						</button>
						<a th:href="@{/reservation/cancel}"
							class="btn btn-warning text-white"> <i
							class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>