<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='vol'">
<head>
<title>[[#{vol.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="volEdit" class="card mt-5">
			<form th:action="@{/vol/save}" method="post">
				<input type="hidden" name="version" th:value="${monVol.version}" />
				<div class="card-header">
					<h5>[[#{vol.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">ID:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${monVol.id}" readonly> <span
							class="text-danger" th:errors="${monVol.id}"></span>
					</div>
					<div class="form-group">
						<label for="age">[[#{vol.form.numero}]]:</label> <input
							type="number" class="form-control" id="numero" name="numero"
							th:value="${monVol.numero}"> <span class="text-danger"
							th:errors="${monVol.numero}"></span>
					</div>
					<div class="form-group">
						<label for="compagnie">[[#{vol.form.compagnie}]]:</label> <input
							type="text" class="form-control" id="compagnie" name="compagnie"
							th:value="${monVol.compagnie}"> <span class="text-danger"
							th:errors="${monVol.compagnie}"></span>
					</div>
					<div class="form-group">
						<label for="dateDepart">[[#{vol.form.startdate}]]:</label> <input
							type="date" class="form-control" id="dateDepart"
							name="dateDepart" th:value="${monVol.dateDepart}"> <span
							class="text-danger" th:errors="${monVol.dateDepart}"></span>
					</div>
					<div class="form-group">
						<label for="aeroportdepart">[[#{vol.form.startaeroport}]]:</label>
						<input type="text" class="form-control" id="aeroportdepart"
							name="aeroportdepart" th:value="${monVol.depart}"> <span
							class="text-danger" th:errors="${monVol.depart}"></span>
					</div>
					<div class="form-group">
						<label for="dateArrivee">[[#{vol.form.enddate}]]:</label> <input
							type="date" class="form-control" id="dateArrivee"
							name="dateArrivee" th:value="${monVol.dateArrivee}"> <span
							class="text-danger" th:errors="${monVol.dateArrivee}"></span>
					</div>
					<div class="form-group">
						<label for="aeroportarrivee">[[#{vol.form.endaeroport}]]:</label>
						<input type="text" class="form-control" id="aeroportarrivee"
							name="aeroportarrivee" th:value="${monVol.arrivee}"> <span
							class="text-danger" th:errors="${monVol.arrivee}"></span>
					</div>
					<div class="form-group">
						<label for="statut">[[#{vol.form.statut}]]:</label> 
						<input type="radio" name="onoff" id="onoff" value="on" /> 
						<label for="onoff"> &nbsp;</label>	
<!-- 						<input type="radio"
							class="form-control" id="statut" name="statut"
							th:value="${monVol.statut}"> <span class="text-danger"
							th:errors="${monVol.statut}"></span> -->
					</div>
					<div class="form-group">
						<label for="nbPlaces">[[#{Vol.form.places}]]:</label> <input
							type="number" class="form-control" id="nbPlaces" name="nbPlaces"
							th:value="${monVol.nbPlaces}"> <span class="text-danger"
							th:errors="${monVol.nbPlaces}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/vol/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>