<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='Aeroport'">
<head>
<title>[[#{Aeroport.list.title}]]</title>
</head>
<body>

<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{Aeroport.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="AeroportTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Aeroport : ${mesAeroports}">
							<td th:text="${Aeroport.code}"></td>
							<td><a th:href="@{/Aeroport/edit(id=${Aeroport.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/Aeroport/delete/{id}(id=${Aeroport.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/Aeroport/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>

</body>
</html>