<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientpro'">
<head>
<title>[[#{client.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="clientEdit" class="card mt-5">
			<form th:action="@{/clientpro/save}" method="post">
				<input type="hidden" name="version" th:value="${monClientPro.version}" />
				<div class="card-header">
					<h5>[[#{clientpro.form.title}]]</h5>
				</div>
				<div class="card-body">

<!-- 					<div class="form-group"> -->
<!-- 						<label for="id">[[#{clientpro.form.identifiant}]]:</label> <input type="number" -->
<!-- 							class="form-control" id="id" name="id" required -->
<!-- 							th:value="${monClientPro.id}" readonly> <span -->
<!-- 							class="text-danger" th:errors="${monClient.id}"></span> -->
<!-- 					</div> -->
					<div class="form-group">
						<label for="siret">[[#{clientpro.form.numeroSiret}]]:</label> <input type="text"
							class="form-control" id="num_siret" name="num_siret"
							th:value="${monClientPro.numeroSiret}"> <span class="text-danger"
							th:errors="${monClientPro.numeroSiret}"></span>
					</div>
					<div class="form-group">
						<label for="num_tva">[[#{clientpro.form.numeroTva}]]:</label> <input type="text"
							class="form-control" id="num_tva" name="num_tva"
							th:value="${monClientPro.numTVA}"> <span class="text-danger"
							th:errors="${monClientPro.numTVA}"></span>
					</div>
					<div class="form-group">
						<label for="entreprise">[[#{clientpro.form.nomEntreprise}]]:</label> <input type="text"
							class="form-control" id="name_enterprise" name="name_enterprise"
							th:value="${monClientPro.nomEntreprise}"> <span class="text-danger"
							th:errors="${monClientPro.nomEntreprise}"></span>
					</div>
					<div class="form-group">
						<label for="typeEntreprise">[[#{clientpro.form.typeEntreprise}]]:</label><select
							class="form-control" id="type_enterprise" name="type_enterprise" th:value="${monClientPro.typeEntreprise}">
							<option th:value="${null}">---------</option>
							<option th:each="paie : ${typeEntreprises}" th:value="${ent}"
								th:selected="${paie==monClientPro.typeEntreprise}">[[#{${paie.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monClientPro.typeEntreprise}"></span>
					</div>
					<div class="form-group">
						<label for="moyenPaiement">[[#{clientpro.form.moyenPaiement}]]:</label><select
							class="form-control" id="moyenPaiement" name="moyenPaiement" th:value="${monClientPro.moyenPaiement}">
							<option th:value="${null}">---------</option>
							<option th:each="paie : ${moyenPaiements}" th:value="${paie}"
								th:selected="${paie==monClientPro.moyenPaiement}">[[#{${paie.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monClientPro.moyenPaiement}"></span>
					</div>
					<div class="form-group">
						<label for="telephone">[[#{clientpro.form.telephone}]]:</label> <input type="number"
							class="form-control" id="age" name="telephone"
							th:value="${monClientPro.telephone}" min="0"> <span
							class="text-danger" th:errors="${monClientPro.telephone}"></span>
					</div>
					<div class="form-group">
						<label for="email">[[#{clientpro.form.email}]]:</label> <input type="text"
							class="form-control" id="email" name="mail"
							th:value="${monClientPro.mail}"> <span
							class="text-danger" th:errors="${monClientPro.mail}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/clientpro/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>