<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='clientpro'">
<head>
<title>[[#{clientpro.list.page}]]</title>
</head>
<body>

<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{clientpro.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="clientTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{clientpro.list.numeroSiret}]]</th>
							<th>[[#{clientpro.list.numeroTva}]]</th>
							<th>[[#{clientpro.list.nomEntreprise}]]</th>
							<th>[[#{clientpro.list.typeEntreprise}]]</th>
							<th>[[#{clientpro.list.moyenPaiement}]]</th>
							<th>[[#{clientpro.list.telephone}]]</th>
							<th>[[#{clientpro.list.email}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client : ${mesClients}">
							<td th:text="${client.id}"></td>
							<td>[[${client.numeroSiret}]]</td>
							<td>[[${client.numTVA}]]</td>
							<td>[[${client.nomEntreprise}]]</td>
							<td>[[${client.typeEntreprise}]]</td>
							<td>[[${client.moyenPaiement}]]</td>
							<td>[[${client.telephone}]]</td>
							<td>[[${client.email}]]</td>
							<td><a th:href="@{/clientpro/edit(id=${clientpro.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/clientpro/delete/{id}(id=${clientpro.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/clientpro/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>

</body>
</html>